@using neyeyim.Services;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;

@inject LayoutViewModelService  service
@inject UserManager<AppUser> usernamager

@{
    Setting setting = service.GetSetting();

    AppUser user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = await usernamager.Users.FirstOrDefaultAsync(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/60f2e76e649e0a0a5cccacc6/1faqdg1vd';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--Start of Top and Nav Bars-->
    <header>
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="topbar-right text-md-right animate__animated animate__fadeInDown">
                            @if (user != null)
                            {
                                <a asp-action="edit" asp-controller="account" class="font-weight-bold" style="text-decoration: none; color: #707174">@user.UserName</a><br>
                                <a asp-action="logout" asp-controller="account" style="color: #707174; margin-right: 18px; text-decoration: none;"><i class="fas fa-sign-in-alt">Çıxış</i></a>
                            }
                            else
                            {
                                <a asp-action="login" asp-controller="account" style="color: #707174; margin-right: 13px; text-decoration: none;">
                                    <i class="fas fa-sign-in-alt">
                                        Daxil ol
                                    </i>
                                </a>
                                <a asp-action="register" asp-controller="account" style="color: #707174; margin-right: 13px; text-decoration: none;">
                                    <i class="fas fa-user-friends"> Qeydiyyat</i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container" style="position: relative;">
                <buttons class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </buttons>
                <div class="navtext collapse navbar-collapse animate__animated animate__fadeInDown" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="color: #009DE0" asp-action="index" asp-controller="home">Ana səhifə</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="color: #009DE0" asp-action="index" asp-controller="place">Məkanlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color: #009DE0" asp-action="index" asp-controller="campaign">Kampaniyalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color: #009DE0" asp-action="index" asp-controller="jobad">İş elanları</a>
                        </li>
                    </ul>
                    <div class="navicons">
                        <a href="" style="color: #009DE0;"><i class="searchbtn fas fa-search"></i></a>
                        <a asp-action="random" asp-controller="place" style="color: #009DE0;"><i class="fas fa-dice"></i></a>
                        <a asp-action="index" asp-controller="basket" style="color: #009DE0; position: relative;"><i class="fas fa-shopping-basket"></i></a>
                    </div>
                </div>
                <div class="searchform">
                    <form class="d-flex" method="get" asp-action="index" asp-controller="place">
                        <input name="search" type="text" class="form-control me-2" placeholder="Axtar..." aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!--End of Top and Nav Bars-->

    <main>
        @RenderBody()
    </main>

    <!--Start of Footer-->
    <div class="footer-basic bg-light">
        <footer>
            <div class="social">
                <a href="@setting.InstagramUrl"><i class="icon ion-social-instagram"></i></a>
                <a href="@setting.TwitterUrl"><i class="icon ion-social-twitter"></i></a>
                <a href="@setting.FacebookUrl"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="footer-text list-inline-item">
                    <a asp-action="index" asp-controller="home">Ana səhifə</a>
                </li>
                <li class="footer-text list-inline-item">
                    <a asp-action="index" asp-controller="info">Haqqımızda</a>
                </li>
                <li class="footer-text list-inline-item"><a asp-action="index" asp-controller="contact">Əlaqə</a></li>
            </ul>
            <p class="copyright">"Nə Yeyim?" © 2021</p>
        </footer>
    </div>
    <!--End of Footer-->
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/index.js"></script>
<script src="~/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>