@model HomeViewModel

<!--Start of Slider Area-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            int count = 0;
            @foreach (var item in Model.Sliders)
            {
                if (count == 0)
                {
                    <div class="carousel-item active">
                        <a href=""><img class="d-block w-100" src="@Html.Raw("/uploads/"+item.Image)" alt="slide"></a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="@Html.Raw("/uploads/"+item.Image)" alt="slide"></a>
                    </div>
                }
                count++;
            }
        }
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--End of Slider Area-->

<!--Start of Selected places Area-->
<section class="cards animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <h1 class="cardcaption" style="padding: 20px;">Seçilmiş məkanlar</h1>
            @foreach (var item in Model.Places.Where(x => x.IsSelected == true))
            {
                <div class="col-lg-4 col-md-4">
                    <a class="book-modal" asp-action="detail" asp-controller="place" asp-route-id="@item.Id" style="text-decoration: none;">
                        <div class="card" style="width: 18rem; border-bottom: 5px solid #009de0;">
                            <img src="uploads/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h class="restname">@item.Name</h>
                                <p class="Category-name">Kateqoriya: @item.Category.Name <br /> İş saatı: @item.OpenTime.ToString("HH:mm") - @item.CloseTime.ToString("HH:mm")</p>
                                <hr>
                                <i class="fas fa-star" style="color: #009de0;">
                                    @item.Rate
                                </i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!--End of Selected places Area-->

<!--Start of Most Popular places Area-->
<section class="cards4 animate__animated animate__fadeIn" style="background-color: #F8F9FA;">
    <div class="container">
        <div class="row">
            <h1 class="cardcaption" style="padding: 20px;">Ən populyar məkanlar</h1>
           @foreach (var item in Model.Places.OrderByDescending(x => x.Rate).Take(3))
            {
                <div class="col-lg-4 col-md-4">
                    <a class="book-modal" asp-action="detail" asp-controller="place" asp-route-id="@item.Id" style="text-decoration: none;">
                        <div class="card" style="width: 18rem; border-bottom: 5px solid #009de0;">
                            <img src="uploads/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h class="restname">@item.Name</h>
                                <p class="Category-name">Kateqoriya: @item.Category.Name <br /> İş saatı: @item.OpenTime.ToString("HH:mm") - @item.CloseTime.ToString("HH:mm")</p>
                                <hr>
                                <i class="fas fa-star" style="color: #009de0;"> @item.Rate</i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!--End of Most Popular places Area-->

<!--Start of Last Ordered places Area-->
<section class="cards4 animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <h1 class="cardcaption" style="padding: 20px;">Son sifariş verdiyiniz məkanlar</h1>
            @foreach (var item in Model.Places.Take(3))
            {
                <div class="col-lg-4 col-md-4">
                    <a class="book-modal" asp-action="detail" asp-controller="place" asp-route-id="@item.Id" style="text-decoration: none;">
                        <div class="card" style="width: 18rem; border-bottom: 5px solid #009de0;">
                            <img src="uploads/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h class="restname">@item.Name</h>
                                <p class="Category-name">Kateqoriya: @item.Category.Name <br /> İş saatı: @item.OpenTime.ToString("HH:mm") - @item.CloseTime.ToString("HH:mm")</p>
                                <hr>
                                <i class="fas fa-star" style="color: #009de0;"> @item.Rate</i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!--End of Last Ordered places Area-->