@model Place

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="@Model.Name">Ad</label>
                <input type="text" asp-for="@Model.Name" class="form-control" id="Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="form-groupcol-md-3">
                <label asp-for="@Model.CategoryId">Kateqoriya</label>
                <select class="form-control" asp-for="@Model.CategoryId" asp-items="ViewBag.Categories">
                </select>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.Adress">Ünvan</label>
                <input type="text" asp-for="@Model.Adress" class="form-control" id="Adress">
                <span asp-validation-for="@Model.Adress" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.OpenCloseTime">İş saatları</label>
                <input type="text" asp-for="@Model.OpenCloseTime" class="form-control" id="OpenCloseTime">
                <span asp-validation-for="@Model.OpenCloseTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="@Model.Status">Status</label>
                <input type="text" asp-for="@Model.Status" class="form-control" id="Status">
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.Servisfee">Servis haqqı</label>
                <input type="text" asp-for="@Model.Servisfee" class="form-control" id="Servisfee">
                <span asp-validation-for="@Model.Servisfee" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.Deposit">Depozit</label>
                <input type="text" asp-for="@Model.Deposit" class="form-control" id="Deposit">
                <span asp-validation-for="@Model.Deposit" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.ContactPhone">Əlaqə</label>
                <input type="text" asp-for="@Model.ContactPhone" class="form-control" id="ContactPhone">
                <span asp-validation-for="@Model.ContactPhone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="@Model.ImageFile">Şəkil</label>
                <input asp-for="@Model.ImageFile" />
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
            </div>

            @if (Model.Image != null)
            {
                <div class="img-box" style="position:relative;max-width:200px">
                    <img class="d-block" src="~/uploads/img/@Model.Image" style="max-width:200px" />
                    <i class="fas fa-times remove-img-box" style="color:red;position:absolute;top:-7px;right:10px;cursor:pointer"></i>
                    <input type="hidden" name="Photo" value="@Model.Image" />
                </div>
            }

            <div class="form-group">
                <label asp-for="@Model.LogoFile">Loqo</label>
                <input asp-for="@Model.LogoFile" />
                <span asp-validation-for="@Model.LogoFile" class="text-danger"></span>
            </div>

            @if (Model.Logo != null)
            {
                <div class="img-box" style="position:relative;max-width:200px">
                    <img class="d-block" src="~/uploads/img/@Model.Logo" style="max-width:200px" />
                    <i class="fas fa-times remove-img-box" style="color:red;position:absolute;top:-7px;right:10px;cursor:pointer"></i>
                    <input type="hidden" name="Photo" value="@Model.Logo" />
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary">Redaktə et</button>
    </form>
</div>
