@using neyeyim.Areas.Manage.ViewModels
@model AdminRegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Admin yarat</h2>
                        </div>
                        <div class="login-form">
                            <form asp-action="createadmin" asp-controller="account" method="post">
                                <input asp-for="@Model.Name" placeholder="Ad">
                                <span class="text-danger" asp-validation-for="@Model.Name"></span>
                                <input asp-for="@Model.UserName" placeholder="İstifadəçi adı">
                                <span class="text-danger" asp-validation-for="@Model.UserName"></span>
                                <input asp-for="@Model.Password" placeholder="Password">
                                <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                <button type="submit" class="btn btn-primary">Admini yarat</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>