@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using neyeyim.Models
@model List<AppUser>
@{
    ViewData["Title"] = "GetAdmins";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int count;
    if (ViewBag.SelectedPage == 1)
    {
        count = 0;
    }
    else
    {
        count = (ViewBag.SelectedPage - 1) * 3;
    }
}
@{
    int totalPage = (int)ViewBag.TotalPageCount;
    int selectedPage = (int)ViewBag.SelectedPage;
}

<div class="container-fluid">
    <div class="row d-flex justify-content-end mb-2">
        <div class="col-md-1">
            <a class="btn btn-primary" asp-action="createadmin">Yarat</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-4">İstifadəçi adı</th>
                <th class="col-md-5">Ad</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
               @foreach (var item in Model)
                {
                    count++;
                    <td class="col-md-1">@count</td>
                    <td class="col-md-4">@item.UserName</td>
                    <td class="col-md-5">@item.Name</td>

                    <td class="col-md-2">
                        <a class="btn btn-warning" asp-action="editadmin" asp-route-id="@item.Id">Redaktə et</a>
                        <a class="btn btn-danger delete-btn" asp-action="deleteadmin" asp-route-id="@item.Id">Sil</a>
                    </td>
                }

            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(selectedPage==1?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@(selectedPage-1)">Geri</a></li>

            @{
                int startpage = selectedPage - 1;
                int endPage = selectedPage + 1;

                if (selectedPage == 1)
                {
                    startpage = 1;
                    endPage = 3 > totalPage ? totalPage : 3;
                }
                else if (selectedPage == totalPage)
                {
                    startpage = (selectedPage - 2) < 1 ? 1 : selectedPage - 2;
                    endPage = totalPage;
                }

            }
            @for (int j = startpage; j <= endPage; j++)
            {
                <li class="page-item @(j==selectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@j">@j</a></li>
            }
            <li class="page-item @(selectedPage==totalPage?"disabled":"") "><a class="page-link" asp-action="index" asp-route-page="@(selectedPage+1)">İrəli</a></li>
        </ul>
    </nav>
</div>