@model PlaceViewModel

<!--Start of DropDown Area-->
<section class="dropdowns animate__animated animate__fadeIn">
    <div class="container">
        <form asp-action="FilterSearch" asp-controller="place" method="post">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <div class="dropdown input-group">
                        <select name="Category" class="form-select" id="inputGroupSelect02">
                            <option selected>Kateqoriya</option>
                           @foreach (var item in Model.Places.GroupBy(x => x.Category).Select(x => x.FirstOrDefault()))
                            {
                                <option value="@item.Category.Name">@item.Category.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <div class="dropdown input-group">
                        <select name="PlaceTag" class="form-select" id="inputGroupSelect02">
                            <option selected>Taq</option>
                           @foreach (var item in Model.PlaceTags.GroupBy(x => x.Tag).Select(x => x.FirstOrDefault()))
                            {
                                <option value="@item.Tag.Name">@item.Tag.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <div class="dropdown input-group">
                        <select name="Status" class="form-select" id="inputGroupSelect02">
                            <option selected>Status</option>
                            <option value="Açıq">Açıq</option>
                            <option value="Qapalı">Qapalı</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <button type="submit" class="btn" style="background-color: #009DE0; color: white; margin: auto; margin-bottom: 50px; margin-top: 30px;">Axtar</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!--End of DropDown Area-->

<!--Start of Places Area-->
<section class="cards  animate__animated animate__fadeIn">
    <div class="container contldmr">
        <div class="row controw">
            @foreach (var item in Model.Places)
            {
                <div class="ldmr col-lg-4 col-md-12">
                    <a asp-action="detail" asp-controller="place" asp-route-id="@item.Id" style="text-decoration: none;">
                        <div class="card" style="width: 18rem; border-bottom: 5px solid #009de0;">
                            <img src="uploads/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h class="restname">@item.Name</h>
                                <p class="Category-name">Kateqoriya: @item.Category.Name <br /> İş saatı: @item.OpenTime.ToString("HH:mm") - @item.CloseTime.ToString("HH:mm")</p>
                                <hr>
                                <i class="fas fa-star" style="color: #009de0;"> @item.Rate </i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
       @if (Model.Places.Count() > 3)
        {
            <button class="btnldmr">Daha çox göstər</button>

        }
    </div>
</section>
<!--End of Places Area-->