@model Jobad

@{
    ViewData["Title"] = "Detail";
}

<section class="workdetail animate__animated animate__fadeIn">
    <div class="container">
        <div class="row" style="padding: 50px;">
            <div class="card col-lg-6 col-sm-6 col-xs-6">
                <div class="mainabout">

                    <h1 class="companyname"><img src="~/uploads/img/@Model.Place.Logo" alt=""> @Model.Place.Name </h1>
                    <h2 class="worksalary">@Model.Position - @Model.Salary AZN
                    </h2>
                </div>
                <div class="secondabout">
                    <h4>Ümumi məlumat və tələblər</h4>
                    <p class="workabout">Şəhər: @Model.City</p>
                    <p class="workabout">Yaş: @Model.Age</p>
                    <p class="workabout">Təhsil: @Model.Education</p>
                    <p class="workabout">İş təcrübəsi: @Model.Experience</p>
                </div>
                <div class="threeabout">
                    <h4>İş barədə məlumat</h4>
                    <p class="workabout">
                        @Html.Raw(Model.GeneralInfo)
                    </p>
                </div>
                <div class="contactabout">
                    <h4>Əlaqə</h4>
                    <p class="workabout">Telefon: @Model.ContactPhone</p>
                    <p class="workabout">Email: @Model.ContactMail</p>
                </div>
            </div>
        </div>
    </div>
</section>